@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@media (prefers-reduced-motion: no-preference) {
  :root,
  .dark-theme {
    --primary-color: #00050a9f;
    --secondary-color: #a9fce0;
    --text-color: #ffffff;
    --timeline-color: #071f2a;
    --hightlight-color: rgba(80, 255, 194, 0.2);
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    --gray-border: #e8e8ea;
    --color-border: #d9fff2;
    --contactlinks-height: 60vh;
    --contactlinks-width: calc(var(--contactlinks-height) / 1.5);
    --animation-color1: #71ffa0;
    --animation-color2: #3ce3bf;
    --animation-color3: #0044c2;
    --text-colorrgb: #ffffff;
    --background-image: url("fotos/backgroundimagedark.jpg");
  }
  .white-theme {
    --primary-color: #ffffffb6;
    --secondary-color: #3700ff;
    --text-color: #000000;
    --timeline-color: #acffff;
    --hightlight-color: rgba(55, 0, 255, 0.2);
    --color-border: #5435ff;
    --animation-color1: #20ffbc;
    --animation-color2: #9ec0ff;
    --animation-color3: #a02bff;
    --background-image: url("fotos/backgroundimagewhite.jpg");
  }

  ::-webkit-scrollbar {
    width: 20px;
    background-color: var(--primary-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--timeline-color);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

  html,
  body {
    background-color: var(--primary-color);
    /*scroll-snap-type: y proximity;          Snapping User onto Section*/
    scroll-behavior: smooth;
    margin: 0px;
  }
  section {
    padding-left: 5%;
    height: 100vh;
    margin: 0;
    scroll-snap-align: start;
    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
  }

  .widthreducer {
    width: 95%;
  }

  a {
    position: relative;
    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    text-decoration: none;
  }

  ::selection {
    background: var(--hightlight-color); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: var(--hightlight-color); /* WebKit/Blink Browsers */
  }

  .background:before {
    content: "";
    background-image: var(--background-image);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
  }

  .navtext {
    position: relative;
  }

  .navtext::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
  }

  .navtext:hover::after {
    width: 100%;
  }

  #button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  #button:hover {
    background-color: var(--secondary-color);
    color: black;
  }

  .menul {
    float: left;
    margin: 10px;
    list-style-type: none;
  }

  .menur {
    float: right;
    margin: 10px;
    list-style-type: none;
    display: inline;
  }

  .toggle--checkbox {
    display: none;
  }

  .toggle--checkbox:checked + .toggle--label:before {
    background: var(--yellow-background);
    border-color: var(--yellow-border);
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }
  .toggle--checkbox:checked + .toggle--label:after {
    transition-delay: 350ms;
    opacity: 1;
  }
  .toggle--label {
    /** Placeholder element, starting at blue **/
    width: 50px;
    height: 20px;
    background: var(--primary-color);
    border-radius: 100px;
    border: 3px solid var(--color-border);
    display: flex;
    position: relative;
    transition: all 350ms ease-in;
    /** The sun cloud and moon stars **/
    /** Sun/Moon element **/
    /** Gray dots on the moon **/
  }
  .toggle--label-background {
    width: 10px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: var(--white);
    left: 135px;
    top: 45px;
    transition: all 150ms ease-in;
  }

  .toggle--label:before {
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: "";
    width: 16px;
    height: 16px;
    border: 3px solid var(--gray-border);
    top: -1px;
    position: absolute;
    border-radius: 82px;
    background: white;
  }
  .toggle--label:after {
    transition-delay: 0ms;
    transition: all 250ms ease-in;
    position: absolute;
    content: "";
    left: 30px;
    top: 3px;
    width: 6px;
    height: 6px;
    background: transparent;
    border-radius: 50%;
    opacity: 0;
  }

  @keyframes switch {
    0% {
      left: 0px;
    }
    60% {
      left: 0px;
      width: 35px;
    }
    100% {
      left: 24px;
      width: 20px;
    }
  }
  @keyframes reverse {
    0% {
      left: 24px;
      width: 20px;
    }
    60% {
      left: 0px;
      width: 35px;
    }
    100% {
      left: 0px;
    }
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position 
  .sticky {
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1;
  }

   Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
  .sticky + .content {
    padding-top: 60px;
  }
  */

  #icon {
    width: 30px;
    cursor: pointer;
    height: 30px;
  }

  .progress-bar {
    position: fixed;
    height: 0%;
    background: var(--secondary-color);
    width: 8px;
  }

  .Home {
    left: 0;
    margin-top: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 30px;
    color: var(--secondary-color);
    line-height: 7px;
  }

  .smallhome {
    font-size: 20px;
  }
  .welcometext {
    font-size: 25px;
    color: var(--text-color);
    padding-top: 50px;
  }

  .arrow-down {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .arrow-down::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: -80%;
    left: 0;
    border-right: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
  }

  @keyframes arrow {
    0% {
      top: 50px;
    }
    50% {
      top: 80px;
    }
    100% {
      top: 50px;
    }
  }

  .text {
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 7.5%;
    font-size: 40px;
    color: var(--secondary-color);
  }

  .about {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }

  .Profilpic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    border-radius: 50%;
  }

  .Profilpic:hover {
    box-sizing: border-box;
    border: 2px solid;
    border-color: var(--secondary-color);
  }

  .timeline ul {
    list-style-type: none;
    border-left: 2px solid #094a68;
    padding: auto;
  }
  .timeline ul li {
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.5s;
  }
  .timeline ul li span {
    display: inline-block;
    background-color: var(--timeline-color);
    color: var(--text-color);
    border-radius: 25px;
    padding: 2px 5px;
    font-size: 15px;
    text-align: center;
  }
  .timeline ul li .content h3 {
    color: var(--secondary-color);
    font-size: 18px;
    padding-top: 5px;
  }
  .timeline ul li .content p {
    padding: 5px 0px 15px 0px;
    font-size: 16px;
  }
  .timeline ul li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    left: -11px;
    top: 28px;
    transition: 0.5s;
  }
  .timeline ul li:hover {
    border-radius: 2rem;
    background-color: var(--timeline-color);
  }

  .timeline ul li:hover:before {
    background-color: #0f0;
  }

  img {
    height: 8vh;
  }

  .displayblock {
    display: block;
    font-size: 30px;
  }

  .displayblock:hover {
    color: var(--secondary-color);
  }

  .contactdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contactlinks {
    margin: 70px;
    width: var(--contactlinks-width);
    height: var(--contactlinks-height);
    background: var(--timeline-color);
    padding: auto;
    position: relative;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contactlinks:hover {
    color: var(--text-color);
    font-size: 18px;
    transition: color 1s;
  }
  .contactlinks:hover:before,
  .contactlinks:hover:after {
    animation: spin 0.5s linear infinite;
  }

  .contactlinks::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      var(--animation-color1),
      var(--animation-color2) 43%,
      var(--animation-color3)
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 3.5s linear infinite;
  }

  .contactlinks::after {
    position: absolute;
    content: "";
    top: calc(var(--contactlinks-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--contactlinks-height) / 6));
    background-image: linear-gradient(
      var(--rotate),
      var(--animation-color1),
      var(--animation-color2) 43%,
      var(--animation-color3)
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 3.5s linear infinite;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
}
@media only screen and (max-height: 740px) {
  #career {
    height: 200%;
  }
}
@media only screen and (max-width: 600px) {
  .Home {
    top: 35%;
    width: 95%;
    padding-left: 2.5%;
  }
  .bighome {
    font-size: 30px;
    line-height: normal;
  }
  .smallhome {
    font-size: 18px;
    line-height: normal;
  }
  .welcometext {
    font-size: 18px;
    line-height: normal;
  }
  .arrow-down::after {
    bottom: -75%;
  }
  .about {
    font-size: 18px;
    line-height: normal;
  }
  #career {
    height: 1400px;
  }
  .timeline li {
    background-color: var(--timeline-color);
    margin: 10px;
  }
  #social {
    height: 100%;
  }
  .displayblock {
    font-size: 20px;
  }
  a {
    font-size: 21px;
  }
  .contactlinks {
    margin: 5%;
    color: var(--text-color);
    font-size: 13px;
  }
  .contactlinks:hover {
    margin: 5%;
    color: var(--text-color);
    font-size: 13px;
  }

  .contactdiv {
    position: relative;
    flex-direction: column;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contactlinks::after {
    background-image: none;
  }
  @media only screen and (max-width: 500px) {
    .menur {
      margin: 5px;
    }
    .menul {
      margin: 5px;
    }
  }
}
